/*
body{
  background: linear-gradient(#ad2ef2,#dab2ed);
}
*/
body{
  background-image: url(../img/bb27a76b7169ca6cab18786466703314_m.jpg);
  background-size: cover;
}
.content{
  width: 960px;
  margin: 0 auto;
}
/*body{
  background-color: blue ;
}*/

*{
  margin: 0;
  padding: 0;
}
.danganronpa{
  font-size: 20px;
  text-align: center;
  font-family: 'Hiragino Kaku Gothic StdN' , sans-serif;
  margin: 30px;
}



h1 {
 /* font-weight: bold;
  font-style: italic;
  position: relative;
  border-bottom: 2px solid #ccc;
  padding: 0.5em;*/・  
  font-style: italic;
  position: relative;
  border-bottom: 2px solid #ccc;
  padding: 0.5em;
}

h1::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 20%;
  border-bottom: 2px solid #777;
}

.pic{
	width: 20%;
/*	height: 15%;*/
	float: left;
  margin-bottom: 50px;
  margin-top: 30px;
}
/*.pic-right{
  width: 15%;
  height: 15%;
  float: left;
}*/
.xxx {
  /*height:145px;*/
  position: relative;
  padding: 0.5em;/*
  border-bottom: 1px solid red;*/
}

/*.xxx::after {
  width: 100%
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  height: 5px;
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 3px, #fff 3px, #fff 6px);
}
*/
/*.zzz{
	display: inline-block;
	width: 30%;
	height: 100%;
	float: left;
}*/

.left-text{
  font-family: 'Hiragino Kaku Gothic StdN' , sans-serif;
	display: inline-block;
	width: 70%;
	/*padding: 30px;*/
	/*height: 90px;*/
	float: left;
  margin: 40px 0px 0px 0px;
  margin-top: 60px;
  padding-left: 20px;
}

.right-text{
  font-family: 'Hiragino Kaku Gothic StdN' , sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: right;
}

.right-text2{
  font-family: 'Hiragino Kaku Gothic StdN' , sans-serif;
  margin-top: 70px;
  text-align: right;
}

.right-text3{
  font-family: 'Hiragino Kaku Gothic StdN' , sans-serif;
  margin-top: 70px;
  text-align: right;
}

.sen{
  clear: both;
}
.button {
  list-style-type: none;
  float: left;
  display: inline-block;
  width: 25%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;

}
.button:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
.button::before,
.button::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.button::before {
  right: 0;
}
.button::after {
  left: 0;
}
.button:hover::before,
.button:hover::after {
  width: 0;
  background-color: #59b1eb;
}
li{
  list-style: none;
}
.spring{
  font-size: 40px;
  color: #ff69b4
}
.summer{
  font-size: 40px;
  color: blue;
}
.autom{
  font-size: 40px;
  color: #ff8c00
}
.winter{
  font-size: 40px;
  color: #778899
}

.baseball{
  font-size: 40px;
  color: red;
}
/*.snow {
  position: absolute;
  background: #fff;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.8);
}
*/.right{
  /*padding-right: 150px;
  display: inline-block;
  width: 70%;
  padding: 30px;
  height: 90px;
  float: left;
  margin: 40px 0px 0px 0px;*/
  /*text-align: right;*/
}
/*img{
  width:100%;

}
/*